//big screen
.singleMovie {
  margin-top: 70px;
  background-color: #222;
  height: 100%;
  .singleMovieWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .left {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 5;

      img {
        width: 300px;
        height: 450px;
        object-fit: contain;
        border-radius: 5px;
      }
    }
    .right {
      color: rgb(216, 204, 204);
      flex: 7;
      .videoDiv {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 30px auto;
      }
      .genres {
        display: flex;
        align-items: center;
        padding: 0px;
        ul {
          padding-left: 0px;
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          li {
            list-style: none;
            padding: 5px;
          }
        }
      }
      .overview {
        padding-top: 7px;
      }
      .sinopsis {
        padding: 7px 0;
        padding-right: 10px;
      }
      .homepage {
        padding-top: 7px;
        padding-bottom: 7px;
        a {
          text-decoration: none;
          color: rgb(20, 216, 20);
        }
      }
      .budget {
        padding-top: 7px;
        color: red;
      }
      .revenue {
        padding: 2px 0;
        color: rgb(20, 216, 20);
        padding-bottom: 7px;
      }
      .status {
        padding-bottom: 7px;
      }
      .average-vote,
      .vote-count {
        color: cadetblue;
        padding-bottom: 5px;
      }
      .companies {
        padding: 5px 0px;
      }
      ul {
        li {
          list-style: none;
          color: cadetblue;
        }
      }
    }
  }
}

//mobile screen
@media (max-width: 776px) {
  .singleMovie {
    width: 96%;
    padding: 2%;
    height: auto;
    .singleMovieWrapper {
      flex-direction: column;

      .right {
        padding-top: 25px;
        h1 {
          font-size: 28px;
        }
        .videoDiv {
          width: 100%;
          iframe {
            width: 320px;
            height: 240px;
          }
        }
      }
    }
  }
}
